.navBar {
    background-color: #22759f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#c2def1;
    
}
.title{
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
   font-weight: bold;
   font-size: 1.2rem;
}


.list{
    padding: 1rem; 
    text-decoration: none;
    color:#c2def1;
   
}